body {
  font-family: sans-serif;
  margin: 0;
  background-color: #ffecf3;
}

h1 {
  margin-top: 0;
  padding: 15px;
  width: 100%;
  background-color: #ea5169;
  text-align: center;
}

.aboutWatermelons h2 {
  text-align: center;
}
.aboutWatermelons {
  width: 50%;
  margin: 0 auto;
}

.watermelonPics-grid img {
  border-radius: 50%;
  padding: 10px;
}

.watermelonPics-grid{
  display: flex;
  width: 100%;
  justify-content: center;
}

.varieties {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  border: .5px solid #ccf9ef;
  border-radius: 12px;
}

.varieties ul, li{
  font-size: 24px;
  list-style-type: none;
  padding: none;
  line-height: auto;
}
