html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #ffecf3;
}

.greet {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: space-around;
  height: 100vh;
  margin: 0;
}

.greet img {
  height: 15%;
}

.greet a, a:visited {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #ea5169;
  box-shadow: 5px 5px 8px #888888;
  margin-bottom: 20px;
}

h1 {
  margin: 15px 10;
  width: 100%;
  text-align: center;
  align-self: flex-end;
  font-size: 48px;
}

@keyframes rotateMelons {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

header img {
  margin: 0;
  width: 7%;
  height: 7%;

}

.headerLeftImg {
  transform: scaleX(-1);
  animation-direction: alternate;
}

header img {
  animation: rotateMelons 1s infinite linear;
  animation-direction: alternate-reverse;
}

#aboutWatermelons h2 {

  text-align: center;
}
#aboutWatermelons {
  height: 85vh;
  margin-top: 10%;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px;
  width: 66%;
  margin: 0 auto;
}

.watermelonPics-grid img {
  border-radius: 50%;
  padding: 10px;
  height: 200px;
  width: 200px;
  transition: box-shadow .5s;
}

.watermelonPics-grid img:hover {
  box-shadow: 0 1px 5px #534951;
}

.watermelonPics-grid{
  display: flex;
  width: 100%;
  justify-content: center;
}

.varieties {
  width: 66%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  border: .5px solid #ccf9ef;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 15px;
}

.varieties ul, li{
  font-size: 24px;
  list-style-type: none;
  padding: none;
  line-height: auto;
}

footer {
  padding: 10px;
  font-size: 11px;
  text-align: center;
  background-color: #ea5169;
  margin-bottom: 0;
}

footer p b {
  font-size: 14px;
  margin-bottom: 5px;
}
